ul.MoviesList{
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px 0;
    li.MovieItem{
        width: calc(50% - 20px);
        list-style: none;
        border: 1px solid #fff;
        border-radius: 10px;
        .MovieLink{
            padding: 10px;
            display: block;
            .ImageWrapper{
                display: flex;
                align-items: center;
                justify-content: space-between;
                .MoviePoster{
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                }
                .MovieTitle{
                    font-size: 12px;
                    font-weight: 600;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    max-width: 150px;
                }
            }
            .FullPlot{
                margin-top: 20px;
                font-size: 11px;
                // 3 lines
                display: -webkit-box;
                line-clamp: 3;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }
        }
    }
}